body{
    font-family:"Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

#pesquisa{
    background-color:#f3d766;
    
}
#pesquisa input{
    padding-right: 0.5%;
    margin: 0.50% 0.5% 0.5% 85%;
    border: none;
    background: #eee3cf url(imagens/lupa.png) no-repeat center right;
}
#logo{
    padding-top: 5%;
    height: 30%;
    background: #94d2f8 url(imagens/logo.png) no-repeat center left;
    text-indent: -999999px;
}
nav li{
    font-weight: bolder;
    text-transform: uppercase;
    margin-right: 4%;
    float: left;
    background-color: #94d2f8;
}
nav ul{
    list-style: none;
    margin-top: -7.5%;
    margin-bottom: 10%;
    margin-left: 35%;
    border: #94d2f8 solid 1px
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    background-color: rgba(255, 255, 255, 0.728);
}
article{
    display: flex;
}
#video{
    margin-top: -4%;
}
#video img{
    flex: 1;
    width: 240%;
}
aside{
    display: flex;
    flex: 1;
    margin-top: -4%;
    flex-direction: column;
}
aside p{
    font-weight: bolder;
    font-size: 60px;
    margin: 5% 2.5% 0% 45%;
}
aside #p1{
    margin-left: 53%;
}
aside #p2{
    margin-left: 71.5%;
}
#link{
    margin-top: 5%;
    margin-left:55%;
    width: 30%;
    background-color: #ef3737;
    padding: 2.5%;
    text-align: center;
    line-height: auto;
    border-radius: 20px;
}
#link a{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 150%;

    color: white;
    border-bottom:2px solid white ;
}
#conteudo-esquerda{
    float:left;
    width: 60%;
}
#conteudo-esquerda div{
    border-radius: 20px;
}
#missao p{
    margin: 10% 5% 8% 10% ;
    line-height: 200%;
}
#missao{
    float: left;
    background-color: #f3d766;
    margin: 0% 1% 1% 1%;
    width: 45%;
    height: 100%;
}
#visao p, #valores p{
    line-height: 150%;
}
#visao,#valores{
    width: 45%;
    margin-right: 7%;
}
#visao{
    background-color: red;
    height: 50%;
    float: right;
}
#valores{
    background-color: #78abca;
    height: 50%;
    float: right;
    margin-top: 3%;
}
#conteudo-esquerda h1{
    text-align: center;
}
#conteudo-esquerda p{
    font-weight: bold;
    text-align: center;
    padding-bottom: 10%;
    font-size: large;
}
#conteudo-direita img{
    width: 35%;
    margin-top: -2.5%;
}